---
management:
  contextPath: /_/
spring:
  datasource:
    url: jdbc:mysql://${lezhin.panther.datasource.serverAddress}/${lezhin.panther.datasource.database}
    username: ${lezhin.panther.datasource.username}
    password: ${lezhin.panther.datasource.password}
    driverClassName: com.mysql.jdbc.Driver
  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL5Dialect
  redis:
    host: ${lezhin.panther.redis.host}
    port: ${lezhin.panther.redis.port}
    database: ${lezhin.panther.redis.database}
  mvc:
    view:
      prefix: /WEB-INF/jsp/
      suffix: .jsp
panther:
  webUrl: https://beta-www.lezhin.com
  apiUrl: https://beta-api.lezhin.com/api/v2/internal/payments
  pantherUrl: https://beta-panther.lezhin.com
  slackChannel: panther_beta
  cloudWatch: https://ap-northeast-2.console.aws.amazon.com/cloudwatch
  happypoint:
    hpcUrl: http://dev-outbound-proxy.lezhin.net/spc/processHpc
    mchtNo: 100015851
  actuator:
    security:
      enabled: true
---
spring:
  profiles: production
  jpa:
    generate-ddl: true
    hibernate.ddl-auto: validate
    show-sql: true
panther:
  webUrl: https://www.lezhin.com
  apiUrl: https://api.lezhin.com/api/v2/internal/payments
  pantherUrl: https://panther.lezhin.com
  slackChannel: panther
  cloudWatch: https://ap-northeast-2.console.aws.amazon.com/cloudwatch/home?region=ap-northeast-2#logStream:group=panther
  happypoint:
    hpcUrl: http://outbound-proxy.lezhin.net/spc/processHpc
    mchtNo: 100031405
---
spring:
  profiles: staging
  jpa:
    generate-ddl: true
    hibernate.ddl-auto: validate
    show-sql: true
panther:
  webUrl: https://mirror-www.lezhin.com
  apiUrl: https://mirror-www.lezhin.com/api/v2/internal/payments
  pantherUrl: https://staging-panther.lezhin.com
  happypoint:
        hpcUrl: http://outbound-proxy.lezhin.net/spc/processHpc
        mchtNo: 100031405
---
spring:
  profiles: qa
  jpa:
    generate-ddl: true
    hibernate.ddl-auto: validate
    show-sql: true
panther:
  webUrl: https://q-www.lezhin.com
  apiUrl: https://q-api.lezhin.com/api/v2/internal/payments
  pantherUrl: https://qa-panther.lezhin.com
---
spring:
  profiles: beta
  jpa:
    generate-ddl: true
    hibernate.ddl-auto: validate
    show-sql: true
panther:
  webUrl: https://beta-www.lezhin.com
  apiUrl: https://beta-api.lezhin.com/api/v2/internal/payments
  pantherUrl: https://beta-panther.lezhin.com
---
spring:
  profiles: alpha
  jpa:
    generate-ddl: true
    hibernate.ddl-auto: validate
    show-sql: true
panther:
  webUrl: https://a-www.lezhin.com
  apiUrl: https://lezhincomix-alpha.appspot.com/api/v2/internal/payments
  pantherUrl: https://alpha-panther.lezhin.com
---
spring:
  profiles: local
  datasource:
      url: jdbc:mysql://127.0.0.1:3306/panther
      username: root
      password: ""
      driverClassName: com.mysql.jdbc.Driver
  jpa:
    hibernate.ddl-auto: update
    show-sql: true
  redis:
    host: localhost
    port: 6379
    database: 0
server:
  port: 9443
  ssl:
    enabled: true
    key-alias: panther
    key-store: cert/security/lezhinwild/keystore.p12
    key-store-password: panther
    key-store-type: PKCS12
    key-password: panther
panther:
  webUrl: https://a-www.lezhin.com
  apiUrl: https://lezhincomix-alpha.appspot.com/api/v2/internal/payments
  pantherUrl: https://localhost:9443
  actuator:
    security:
      enabled: false
---
spring:
  profiles: test
  datasource:
    url: jdbc:h2:mem:panther;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE
    username: sa
    password:
    driverClassName: org.h2.Driver
  jpa:
    generate-ddl: true
    hibernate.ddl-auto: create-drop
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.H2Dialect
  redis:
      host: localhost
      port: 6379
      database: 0
panther:
  webUrl: https://t-www.lezhin.com
  apiUrl: https://t-api.lezhin.com/api/v2/internal/payments
  pantherUrl: https://localhost

