---
management:
  contextPath: /_/
spring:
  datasource:
    url: jdbc:mysql://${lezhin.panther.datasource.serverAddress}/${lezhin.panther.datasource.database}
    username: ${lezhin.panther.datasource.username}
    password: ${lezhin.panther.datasource.password}
    driverClassName: com.mysql.jdbc.Driver
  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL5Dialect
  redis:
    host: ${lezhin.panther.redis.host}
    port: ${lezhin.panther.redis.host}
lezhin:
  webUrl: https://beta-www.lezhin.com
  apiUrl: https://beta-www.lezhin.com/api/v2/internal/payments
  pantherUrl: https://beta-panther.lezhin.com
  happypoint:
    hpcUrl: http://dev-proxy.lezhin.net/spc/processHpc
    mchtNo: 100015851
  actuator:
    security:
      enabled: true
---
spring:
  profiles: production
  jpa:
    generate-ddl: true
    hibernate.ddl-auto: validate
    show-sql: true
lezhin:
  webUrl: https://www.lezhin.com
  apiUrl: https://www.lezhin.com/api/v2/internal/payments
  pantherUrl: https://panther.lezhin.com
  happypoint:
    hpcUrl: xxx
    mchtNo: xxx
---
spring:
  profiles: staging
  jpa:
    generate-ddl: true
    hibernate.ddl-auto: validate
    show-sql: true
lezhin:
  webUrl: https://mirror-www.lezhin.com
  apiUrl: https://mirror-www.lezhin.com/api/v2/internal/payments
  pantherUrl: https://staging-panther.lezhin.com
---
spring:
  profiles: qa
  jpa:
    generate-ddl: true
    hibernate.ddl-auto: validate
    show-sql: true
lezhin:
  webUrl: https://q-www.lezhin.com
  apiUrl: https://q-www.lezhin.com/api/v2/internal/payments
  pantherUrl: https://qa-panther.lezhin.com
---
spring:
  profiles: beta
  jpa:
    generate-ddl: true
    hibernate.ddl-auto: validate
    show-sql: true
lezhin:
  webUrl: https://beta-www.lezhin.com
  apiUrl: https://beta-www.lezhin.com/api/v2/internal/payments
  pantherUrl: https://beta-panther.lezhin.com
---
spring:
  profiles: alpha
  jpa:
    generate-ddl: true
    hibernate.ddl-auto: validate
    show-sql: true
lezhin:
  webUrl: https://alpha-www.lezhin.com
  apiUrl: https://alpha-www.lezhin.com/api/v2/internal/payments
  pantherUrl: https://alpha-panther.lezhin.com
---
spring:
  profiles: local
  datasource:
      url: jdbc:mysql://127.0.0.1:3306/panther
      username: root
      password: ""
      driverClassName: com.mysql.jdbc.Driver
  jpa:
    hibernate.ddl-auto: update
    show-sql: true
lezhin:
  webUrl: https://beta-www.lezhin.com
  apiUrl: https://beta-www.lezhin.com/api/v2/internal/payments
  pantherUrl: https://localhost
  actuator:
    security:
      enabled: false
---
spring:
  profiles: test
  datasource:
    url: jdbc:h2:mem:panther;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE
    username: sa
    password:
    driverClassName: org.h2.Driver
  jpa:
    generate-ddl: true
    hibernate.ddl-auto: create-drop
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.H2Dialect
lezhin:
  webUrl: https://t-www.lezhin.com
  apiUrl: https://t-www.lezhin.com/api/v2/internal/payments
  pantherUrl: https://localhost

